@import 'app/bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap';

body {
  color: red;
}



// .submenu{
//
//   width: $new_width;
//   font-size: 1.25em;
//   -webkit-transition: width 2s, -webkit-transform 2s;
//   -moz-transition: width 2s;
//   -o-transition: width 2s;
//   transition: all 2s ease;
//
// }

$original_width: 100%;
$new_width: 225px;


.clicked{
  left: $new_width;
  width: $new_width !important;
  margin-left: -$new_width;
  font-size: 0.7em;
}


/* Side Navigation */

@media(min-width:300px) {
    .side-nav {
        position: fixed;
        text-align: center;
        top: 51px;
        left: 250px;
        width: $original_width;
        margin-left: -225px;
        border: white;
        border-radius: 0;
        overflow-y: auto;
        background-color: #222;
        -webkit-transition: all 2s ease, -webkit-transform 2s;
        -moz-transition: all 2s ease;
        -o-transition: all 2s ease;
        transition: all 2s ease;
    }

    .side-nav>li>a {
        width: 1000px;
        -webkit-transition: all 2s ease, -webkit-transform 2s;
        -moz-transition: all 2s ease;
        -o-transition: all 2s ease;
        transition: all 2s ease;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #000 !important;
    }
}

.side-nav>li>ul {
    padding: 0;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #999;
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
}


#wrapper {
    padding-left: 0;
}

#page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #fff;
}

.huge {
    font-size: 50px;
    line-height: normal;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 100%;
    }

    #page-wrapper {
        padding: 10px;
    }
}
