@import 'app/bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap';

$grid-float-breakpoint: 200px !important;
$grid-float-breakpoint-max: 200px !important;
$screen-sm:                  200px !important;




$original_width: 100%;
$new_width: 225px;



/* Side Navigation */

@media(min-width:200px) {
    .side-nav {
        position: fixed;
        text-align: center;
        top: 51px;
        left: 250px;
        width: $original_width;
        margin-left: -225px;
        border: white;
        border-radius: 0;
        overflow-y: auto;
        background-color: #222;
        -webkit-transition: all 2s ease, -webkit-transform 2s;
        -moz-transition: all 2s ease;
        -o-transition: all 2s ease;
        transition: all 2s ease;
    }


    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #000 !important;

    }
}


@media(min-width:200px) {
    .side-nav>li>a {
        width: 300px;
        -webkit-transition: all 2s ease, -webkit-transform 2s;
        -moz-transition: all 2s ease;
        -o-transition: all 2s ease;
        transition: all 2s ease;
    }
}

@media(min-width:400px) {
    .side-nav>li>a {
        width: 500px;
        -webkit-transition: all 2s ease, -webkit-transform 2s;
        -moz-transition: all 2s ease;
        -o-transition: all 2s ease;
        transition: all 2s ease;
    }
}


@media(min-width:700px) {
    .side-nav>li>a {
        width: 900px;
        -webkit-transition: all 2s ease, -webkit-transform 2s;
        -moz-transition: all 2s ease;
        -o-transition: all 2s ease;
        transition: all 2s ease;
    }
}

@media(min-width:1000px) {
    .side-nav>li>a {
        width: 1200px;
        font-size: 3em;
        -webkit-transition: all 2s ease, -webkit-transform 2s;
        -moz-transition: all 2s ease;
        -o-transition: all 2s ease;
        transition: all 2s ease;
    }
}







.side-nav>li>ul {
    padding: 0;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #999;
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
}


#wrapper {
    padding-left: 0;
}

#page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #fff;
}

.huge {
    font-size: 50px;
    line-height: normal;
}

@media(min-width:200px) {
    #wrapper {
        padding-left: 100%;
    }

    #page-wrapper {
        padding: 10px;
    }
}
